<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head_fragment(title, scripts, links)">
  <meta charset="UTF-8">

  <title th:text="${title}"></title>

  <!-- 全画面共通のcssを定義します -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/common/base.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/common/header.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

  <!-- 各画面専用のcssを定義します -->
  <th:block th:replace="${links} ?: _" />

  <!-- 全画面共通のjavascriptを定義します -->
  <!-- <script type="text/javascript" th:src="@{/scripts/base.js}"></script> -->
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <!-- defer属性を付けると、bootstrap.min.jsと並行に読み込んでしまってエラーになる -->
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

  <!-- 各画面専用のjavascriptを定義します -->
  <th:block th:replace="${scripts} ?: _" />
</head>
</html>
