@charset "UTF-8";

/* condition-areaの余白・高さ指定 */
.condition-area {
	padding: 20px;
	width: 80%;
	min-width: 1200px;
	height: 60px;
	box-sizing: border-box;
}

.edit-area {
	display: flex;
	flex-flow: column;
	padding: 20px;
	height: 70vh; /* 表示領域の70% */
	box-sizing: border-box;
}