<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout :: layout(title='ワークフロー編集', scripts = ~{::script}, links = ~{::link})}">
<!-- layout:replaceを使用して、 <head>用のフラグメントを読込みます -->
<head>
<!-- 当画面で使用するjavascript、cssをフラグメントに渡します -->
<link rel="stylesheet" href="/css/workflow_edit.css"></link>
<script th:src="@{/js/workflow_edit.js}"></script>
</head>
<body>
  <main layout:fragment="content">
    <form>
      <div class="wrapper">
        <div class="main-ticket-area">
          <details open>
            <summary>
                <label for="">チケットID</label>
                <input type="text">
                <label for="">チケットタイトル</label>
                <input type="text">
            </summary>
            <li>
              <div class="grid-container">
                  <label for="" id="personInCharge_label">担当</label>
                  <input type="text" id="personInCharge">
                  <label for="" id="manhourEstimated_label">見積工数</label>
                  <input type="text" id="manhourEstimated">
                  <label for="" id="productivity_label">生産性</label>
                  <input type="text" id="productivity">
                  <label for="" id="manhourScheduled_label">予定工数</label>
                  <input type="text" id="manhourScheduled">
                  <label for="" id="progressRate_label">進捗率</label>
                  <input type="text" id="progressRate">
                  <label for="" id="monHourProgress_label">進捗工数</label>
                  <input type="text" id="monHourProgress">
                  <label for="" id="manhourResult_label">実績工数</label>
                  <input type="text" id="manhourResult">
                  <label for="" id="startDateScheduled_label">予定開始日</label>
                  <input type="date" id="startDateScheduled">
                  <label for="" id="endDateScheduled_label">予定終了日</label>
                  <input type="date" id="endDateScheduled">
                  <label for="" id="startDateResult_label">実績開始日</label>
                  <input type="date" id="startDateResult">
                  <label for="" id="endDateResult_label">実績終了日</label>
                  <input type="date" id="endDateResult">
                  <label for="" id="note_label">メモ</label>
                  <textarea type="text" id="note"></textarea>

              </div>

            </li>
          </details>
        </div>
        <div class="sub-ticket-area">
        </div>

      </div>
   </form>

  </main>
</body>
</html>