<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout :: layout(title='ワークフロー編集', scripts = ~{::script}, links = ~{::link})}">
<!-- layout:replaceを使用して、 <head>用のフラグメントを読込みます -->
<head>
<!-- 当画面で使用するjavascript、cssをフラグメントに渡します -->
<link rel="stylesheet" href="/css/workflow_edit.css"></link>
<script th:src="@{/js/workflow_edit.js}"></script>
</head>
<body>
  <main layout:fragment="content">

    <div class="tagselected-wrapper">
    </div>
    <div class="taglist-wrapper">
      <ul class="taglist">
        <li><label><input type="checkbox" name="tag[]" value="1">SS</label></li>
        <li><label><input type="checkbox" name="tag[]" value="2" checked>PG</label></li>
        <li><label><input type="checkbox" name="tag[]" value="3" checked>PT</label></li>
        <li><label><input type="checkbox" name="tag[]" value="4">レビュー</label></li>
      </ul>
    </div>


    <form>
      <div class="wrapper">
        <div class="main-ticket-area">
          <details open>
            <summary>
                <label for="">チケットID</label>
                <input type="text">
                <label for="">チケットタイトル</label>
                <input type="text" class="ticketTitle">
            </summary>
            <li>
              <div class="grid-container">
                  <label for="" class="personInCharge_label">担当</label>
                  <input type="text" class="personInCharge">
                  <label for="" class="manhourEstimated_label">見積工数</label>
                  <input type="text" class="manhourEstimated">
                  <label for="" class="productivity_label">生産性</label>
                  <input type="text" class="productivity">
                  <label for="" class="manhourScheduled_label">予定工数</label>
                  <input type="text" class="manhourScheduled">
                  <label for="" class="progressRate_label">進捗率</label>
                  <input type="text" class="progressRate">
                  <label for="" class="monHourProgress_label">進捗工数</label>
                  <input type="text" class="monHourProgress">
                  <label for="" class="manhourResult_label">実績工数</label>
                  <input type="text" class="manhourResult">
                  <label for="" class="startDateScheduled_label">予定開始日</label>
                  <input type="date" class="startDateScheduled">
                  <label for="" class="endDateScheduled_label">予定終了日</label>
                  <input type="date" class="endDateScheduled">
                  <label for="" class="startDateResult_label">実績開始日</label>
                  <input type="date" class="startDateResult">
                  <label for="" class="endDateResult_label">実績終了日</label>
                  <input type="date" class="endDateResult">
                  <label for="" class="note_label">メモ</label>
                  <textarea class="note"></textarea>
              </div>
            </li>
          </details>
        </div>
        <div class="sub-ticket-area">
          <details>
            <summary>
                <label for="">チケットID</label>
                <input type="text">
                <label for="">チケットタイトル</label>
                <input type="text" class="ticketTitle">
            </summary>
            <li>
              <div class="grid-container">
                  <label for="" class="personInCharge_label">担当</label>
                  <input type="text" class="personInCharge">
                  <label for="" class="manhourEstimated_label">見積工数</label>
                  <input type="text" class="manhourEstimated">
                  <label for="" class="productivity_label">生産性</label>
                  <input type="text" class="productivity">
                  <label for="" class="manhourScheduled_label">予定工数</label>
                  <input type="text" class="manhourScheduled">
                  <label for="" class="progressRate_label">進捗率</label>
                  <input type="text" class="progressRate">
                  <label for="" class="monHourProgress_label">進捗工数</label>
                  <input type="text" class="monHourProgress">
                  <label for="" class="manhourResult_label">実績工数</label>
                  <input type="text" class="manhourResult">
                  <label for="" class="startDateScheduled_label">予定開始日</label>
                  <input type="date" class="startDateScheduled">
                  <label for="" class="endDateScheduled_label">予定終了日</label>
                  <input type="date" class="endDateScheduled">
                  <label for="" class="startDateResult_label">実績開始日</label>
                  <input type="date" class="startDateResult">
                  <label for="" class="endDateResult_label">実績終了日</label>
                  <input type="date" class="endDateResult">
                  <label for="" class="note_label">メモ</label>
                  <textarea class="note"></textarea>
              </div>
            </li>
          </details>
        </div>

      </div>
   </form>

  </main>
</body>
</html>